[defaults]
inventory          = inventory.yml
remote_user        = serwin
private_key_file   = .ansible_priv_key
vault_password_file = .vault_pass
verbosity          = 1

[privilege_escalation]
become = true

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new
